$fz-h1: 40px;
$fz-h2: 36px;
$fz-h3: 32px;
$fz-h4: 28px;
$fz-h5: 24px;
$fz-xl: 22px;
$fz-lg: 18px;
$fz-md: 16px;
$fz-sm: 14px;
$fz-xs: 12px;
$gray: #202227;
$dark: #1e242e;
$light: #ecf3ff;
$error: #995050;
$success: #0a867c;
$primary: #0085b9;
$secondary: #008388;
$background: linear-gradient(to right, #c9e1ff 50%, #007bb4 100%);
$background-wk: -webkit-linear-gradientt(to right, #c9e1ff 50%, #007bb4 100%);
$border: 2px solid #707070;
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 16px;
$rounded-xl: 24px;
$rounded-full: 50%;
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
$box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
