@import "../../assets/css/variables";

input {
  margin: 0;
}
input:focus {
  outline: none;
}
.todo-input-label {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.todo-input input {
  height: 48px;
  font-size: $fz-lg;
  line-height: 120%;
  color: white;
  background-color: $gray;
  outline: none;
  border-radius: 8px;
  border: $border;
  box-shadow: $box-shadow;
  padding: 0 24px;
  ::placeholder {
    color: $light;
  }
}
.todo-input input::placeholder {
  font-size: $fz-md;
  font-style: italic;
  font-weight: 600;
}
